# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/config/deploy
/config/database.yml
/config/deploy.rb
/config/secrets.yml

/public/uploads