#top-nav.page-scroll
  a#to-top href="#page-top"
    i.fa.fa-arrow-up
= render 'home/sections/s_1'
= render 'home/sections/donate'
= render 'home/sections/s_2'
= render 'home/sections/s_3'
= render 'home/sections/s_4'




