/*
 *= require bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

$screen-xs-min: 480px;
$screen-xs-max: 767px;

$screen-sm-min: 768px;
$screen-sm-max: 991px;

$screen-md-min: 992px;
$screen-md-max: 1199px;

$screen-lg-min: 1200px;

@media (min-width: $screen-sm-min) { }
@media (min-width: $screen-md-min) { }
@media (min-width: $screen-lg-min) { }

@font-face {
  font-family: 'AvantGardeGothicCBook';
  src: font-url('avant_garde_gothic_book/avant_garde_gothic_book.eot');
  src: font-url('avant_garde_gothic_book/avant_garde_gothic_book.eot') format('embedded-opentype'),
       font-url('avant_garde_gothic_book/avant_garde_gothic_book.woff') format('woff'),
       font-url('avant_garde_gothic_book/avant_garde_gothic_book.ttf') format('truetype'),
       font-url('avant_garde_gothic_book/avant_garde_gothic_book.svg#AvantGardeGothicCBook') format('svg');
}

@font-face {
    font-family: 'AvantiBold';
    src: font-url('avanti_bold/avanti_bold_3.eot');
    src: font-url('avanti_bold/avanti_bold_3.eot') format('embedded-opentype'),
         font-url('avanti_bold/avanti_bold_3.woff') format('woff'),
         font-url('avanti_bold/avanti_bold_3.ttf') format('truetype'),
         font-url('avanti_bold/avanti_bold_3.svg#AvantiBold') format('svg');
}

$text-black: #3D3B3A;
$text-silver: #9B9B9B;
$text-red: #E11E1C;


body {
    width: 100%;
    height: 100%;
    font-family: 'AvantGardeGothicCBook', sans-serif;
    // font-family: 'AvantiBold', sans-serif;
    color: #000;
    background-color: #fff;
}

b, strong {
    // font-family: 'AvantiBold', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'AvantGardeGothicCBook', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    // margin: 0 0 25px;
    font-size: 13px;
    line-height: 1;
    @media(min-width:$screen-sm-min) {
        line-height: 1.3;
        font-size: 14px;
    }
}


.red {
    color: $text-red;
}


#top-nav {
  position: fixed;
  right: 15px;
  top: 5px;
  z-index: 999999;
  font-size: 20px;
  font-weight: bold;
  a {
    color: #fff;
    text-shadow: 1px 1px 2px #696969;
  }
}

// .navbar-brand:focus {
//     outline: 0;
// }

// .navbar-custom a {
//     color: rgb(230,230,230);
// }

// .navbar-custom .nav li a {
//     -webkit-transition: background .3s ease-in-out;
//     -moz-transition: background .3s ease-in-out;
//     transition: background .3s ease-in-out;
// }



.rus {
    color: $text-silver
}

.ukr {
    color: $text-black
}

.right-block {

    &:before {
       content: " ";
       position: absolute;
       // z-index: -1;
       top: 0px;
       left: 0px;
       bottom: 0px;
       border-left: 1px solid #fff;
       @media(min-width:$screen-sm-min) {
            border-left: 2px solid #fff;
        }
    }
    &.black-line:before {
        border-left: 1px solid #000;   
        @media(min-width:$screen-sm-min) {
            border-left: 2px solid #000;   
        }
    }
    &.silver-line:before {
        border-left: 1px solid $text-silver;   
        @media(min-width:$screen-sm-min) {
            border-left: 2px solid $text-silver;   
        }
    }
}


.modal-backdrop.fade.in {
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: #F69D0F;
}

.modal {
    .modal-content {
        border-radius: 55px;
        .modal-header {
            border-bottom: 0px none;
            padding: 25px;
            height: 100px;  
            button.close {
                opacity: 1;
                filter: alpha(opacity=100);
                font-size: 50px;
                &:hover {
                    opacity: 0.6;
                    filter: alpha(opacity=60);
                }
                i {
                    color: $text-red;
                }
            }
        }
        .modal-body {
            padding: 20px 20px 70px ;
            h3 {
                font-family: 'AvantGardeGothicCBook', sans-serif;
                font-weight: 500 !important;
            }
        }
    }
}

.intro {

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background: image-url('top-bg.jpg');

    position: relative;
    display: table;
    width: 100%;
    height: auto;
    // padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .social {
        margin-top: 45px;
        margin-bottom: 25px;
        @media(min-width:$screen-sm-min) {
            margin-bottom: 50px;
        }
        a:link {
            margin-left: 8px;
        }
    }
    .help {
        margin-top: 25px;
        margin-bottom: 25px;
        img {
            width: 20px;
        }
        @media(min-width:$screen-sm-min) {
            margin-bottom: 50px;
        }
    }
    .dear {
        margin-bottom: 0;
    }
    .entry {

    }
    p {
        font-size: 12px;
        line-height: 16px;
        @media(min-width:$screen-sm-min) {
            line-height: 20px;
            font-size: 15px;
        }
    }
    h2 {
        font-weight: normal;
        font-size: 22px;
        margin-bottom: 5px;
        @media(min-width:$screen-sm-min) {
            font-size: 50px;
        }
        @media(min-width:$screen-md-min) {
            font-size: 55px;
        }
    }
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
}

.brand-heading {
    margin-bottom: 10px;
    img {
        margin: 0 0 10px;
        width: 300px;
        @media(min-width:$screen-sm-min) {
            width: 400px;
        }
        @media(min-width:$screen-md-min) {
            width: 500px;
        }
    }
}


a#donate {
    color: #fff;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    display: inline-block;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    &:hover {
        text-decoration: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
    }
    img {
        margin-bottom: 5px;
    }
}

.btn-white, .btn-orange {
    padding: 12px 20px;
    text-transform: uppercase;
    -webkit-border-radius: 21px;
    border-radius: 22px;
    font-size: 16px;

}

.btn-white {
    color: #EF6225;
    background-color: #fff;
}

.btn-orange {
    color: #fff;
    background-color: #EF6225;
}

.contact-icons a {
    margin-right: 10px;
}

.slider-body {
    .slide-title {
        text-transform: uppercase;
        font-size: 14px;
        @media(min-width:$screen-sm-min) {
        font-size: 25px;
        }
        @media(min-width:$screen-md-min) {
            font-size: 30px;
        }
        margin-bottom: 30px;
    }
    .slide-sub-title {
        text-transform: uppercase;
        // font-family: 'AvantiBold', sans-serif;
        margin-bottom: 20px;
    }
    .slide-content {
        p {
            font-size: 13px;
            @media(min-width:$screen-sm-min) {
            font-size: 14px;
            }
        }
        p:first-child {
            margin-top: 20px;
        }
        img {
            &.product {
                width: 100%;
            }
            &.barcode {
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 50px;
                @media(min-width:$screen-sm-min) {
                   width: 100px;
                }
                @media(min-width:$screen-md-min) {
                   width: 150px;
                }
            }
        }
    }
    .control {
        padding-top: 200px;
        #prev, #next {
            color: $text-red;
            font-size: 15px;
            @media(min-width:$screen-sm-min) {
               font-size: 40px;
            }
            @media(min-width:$screen-md-min) {
               font-size: 50px;
            }
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            &:hover {
                cursor: pointer;
            }
            &.disabled {
                color: $text-silver;
                opacity: 0.1;
            }
        }
    }
}

#to-top {
    display: none;
}

#thanks {
    font-size: 12px;
    img {
        // margin-top: 5px;
        margin-right: 10px;
    }
}

.arrow {
    background-image: image-url('arrow.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 44px;
}

.arrow-inverted {
    background-image: image-url('arrow-inverted.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 44px;
}


@media(min-width:$screen-xs-max) {
    .intro {
        // height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}


.meter-holder {
    
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
    
    meter {
      width: 100%;
      height: 12px;
      // border: 0px none;
      // border-radius: 5px;
    }

    meter::-webkit-meter-bar {
      border-radius: 6px;
      background: #FFF;
    }
    meter::-webkit-meter-optimum-value {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      background: linear-gradient(to bottom, #E2B71B, #E2B71B);
    }
    meter::-webkit-meter-suboptimum-value {
        background: linear-gradient(to bottom, #fbb450, #f89406);
    }
    meter::-webkit-meter-even-less-good-value {
        background: linear-gradient(to bottom, #ee5f5b, #bd362f);
    }
    
}


#counter {
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
    position: relative;
    margin: 20px 0 30px 0;
    color: #656263;
    font-family: 'AvantiBold', sans-serif;
    font-size: 55px;
    @media(min-width:$screen-sm-min) {
        font-size: 90px;
    }
    @media(min-width:$screen-md-min) {
        font-size: 95px;
    }
    #left-block, #right-block, #fisrt-three-digits, #second-three-digits {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        text-align: center;
        background-color: #fff;
    }
    #left-block, #right-block {
        width: 15.166666667%;
    }
    #fisrt-three-digits, #second-three-digits {
        width: 33.3333333333%;
    }
    #second-three-digits {
        margin-left: 1%;
    }
    #left-block {
        margin-right: 1%;
        -webkit-border-radius: 70px 0 0 70px;
        border-radius: 70px 0 0 70px;
    }
    #right-block {
        margin-left: 1%;
        -webkit-border-radius: 0 70px 70px 0;
        border-radius: 0 70px 70px 0;
    }
}


.content-section {
    padding-top: 100px;
}

#slider, #contacts {
    padding-top: 50px;
    padding-bottom: 50px;
}

#petition {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background: image-url('signup-bg.jpg');
    width: 100%;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .petition-body {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

form {
    margin-top: 30px;
    input[type="text"] {
        margin-top: 20px;
        padding: 10px 25px;
        color: #EF6225;
        background-color: #fff;
        font-size: 14px;
        line-height: 14px;
        display: block;
        width: 100%;
        height: 50px;
        -webkit-border-radius: 24px;
        border-radius: 24px;
        -moz-border-radius: 24px;
        &::-webkit-input-placeholder {
            color: #EF6225;
        }
        &::-moz-placeholder { 
            color: #EF6225;
            opacity: 1;
        }
        &:-moz-placeholder { 
            color: #EF6225;
            opacity: 1;
        }
        &::-ms-input-placeholder { 
            color: #EF6225;
        }
    }

    button {
        margin-top: 20px;
    }
    label {
        margin-bottom: 0;
        margin-top: 5px;
    }
}

.text-block {
    margin-top: 50px;
}

.rounded-title {
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid #fff;
    -webkit-border-radius: 34px;
    border-radius: 34px;
    padding: 15px 20px;
    display: inline-block;
    @media(min-width:$screen-xs-max) {
        font-size: 24px;
    }
}

#contacts {
    background-image: image-url('bottom-bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 200px;
}

@media(min-width:$screen-xs-max) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: 'AvantGardeGothicCBook', sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:$screen-md-max) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:$screen-xs-max) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}


body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.top-menu {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        @media(min-width:$screen-sm-min) {
        }
        @media(min-width:$screen-md-min) {
            float: right;
        }
        vertical-align: top;
        li {
            // display: inline-flex;
            a {
                text-align: center;
                padding: 3px 10px;
                line-height: 12px;
                color: #fff;
                font-size: 12px;
                display: inline-block;
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition: all 200ms ease-in-out;
                -ms-transition: all 200ms ease-in-out;
                -o-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
                &:hover {
                    text-decoration: none;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
                    filter: alpha(opacity=80);
                    -moz-opacity: 0.8;
                    -khtml-opacity: 0.8;
                    opacity: 0.8;
                }
            }
        }
    }
}



.modal-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    width: 600px;
    margin-top: -200px;
    height: 366px;
    margin-left: -300px;
}

#helper {
  position: fixed;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: gainsboro;
  z-index: 999999;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

#donate-section {
    display: none;
    padding-bottom: 50px;
    h3 {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0px;
        @media(min-width:$screen-sm-min) {
            font-size: 30px;
        }
    }
    #donate-options {
        margin-top: 20px;
    }
    #paybtn {
        margin-top: 25px;
    }
    #donate-inctructions {
        min-height: 500px;
        #privat-row, #liqpay-row {
            display: none;
        }
    }

}